In [8]:
a = "I am a learnbay trainer"

In [1]:
b = int (input('Please enter marks: '))
if b >= 35 and b<60:
    print ('Passed')
elif b >= 35 and b>= 60:
    print ('Passed and also in first class')

Please enter marks: 36
Passed

In [10]:
a[7:len(a)+1]

'learnbay trainer'

In [13]:
a[-16::]

'learnbay trainer'

In [14]:
a[-16::1]

'learnbay trainer'

In [17]:
a[-16::-1]

'l a ma I'

In [21]:
a[-16:2:1]

''

In [20]:
a[-16:2:-1]

'l a m'

In [22]:
a[-16:10:-1]

''

In [23]:
a[-16:0:-1]

'l a ma '

In [24]:
a[-16:0:1]

''

In [25]:
a[:0:-1]

'reniart yabnrael a ma '

In [26]:
a[0::-1]

'I'

In [4]:
a = input('Enter any character or any number : ')

if not (a.isalpha()): # this checks that is my input a valid alphabet or not 
    print(f'{a} is a special character')

Enter any character or any number : @
@ is a special character

In [ ]:
for the earlier code, we can add if statement
if i==len(my_str) and count == 0:
    print("Value error")

In [2]:
my_str="Python"

start = -1
stop = -len(my_str)

while start>=stop:
    print(start,my_str[start])
    start-=1

-1 n
-2 o
-3 h
-4 t
-5 y
-6 P

In [2]:
#conven
a=[]
for i in range(1,51) :
    if i%2==0:
        a=a+[i**2]
    else:
        a=a+[i**3]
print(a)

#comp
lst = [i**2 if (i%2==0) else i**3 for i in range(1,51)]
lst

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375, 256, 4913, 324, 6859, 400, 9261, 484, 12167, 576, 15625, 676, 19683, 784, 24389, 900, 29791, 1024, 35937, 1156, 42875, 1296, 50653, 1444, 59319, 1600, 68921, 1764, 79507, 1936, 91125, 2116, 103823, 2304, 117649, 2500]

[1,
 4,
 27,
 16,
 125,
 36,
 343,
 64,
 729,
 100,
 1331,
 144,
 2197,
 196,
 3375,
 256,
 4913,
 324,
 6859,
 400,
 9261,
 484,
 12167,
 576,
 15625,
 676,
 19683,
 784,
 24389,
 900,
 29791,
 1024,
 35937,
 1156,
 42875,
 1296,
 50653,
 1444,
 59319,
 1600,
 68921,
 1764,
 79507,
 1936,
 91125,
 2116,
 103823,
 2304,
 117649,
 2500]

In [5]:
a=[]
for i in range(ord('A'),ord('Z')+1):
    a=a+[chr(i)]
    
print(a)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [8]:
a=[chr(i) for i in range(ord('A'),ord('Z')+1) ]
a

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [1]:
password = 'pass'

word  = input('Enter the password: ') #string

while True: # Always True
    if word == password:
        print('Hello, You have successfully logged in to your account')
        break
    else:
        print('Inavlid Password')
        word  = input('Enter the password: ') # here it will going to print Invalid password infinte ti,es 
        
print('Here')

Enter the password: as
Inavlid Password
Enter the password: pass
Hello, You have successfully logged in to your account
Here

In [3]:
password = 'pass'
count = 3


while count>0: # Always True
    word  = input('Enter the password: ')
    if word == password:
        print('Hello, You have successfully logged in to your account')
        break
    else:
        print('Inavlid Password')
        
        count -= 1  
else:
    print('Account Locked')

Enter the password: p
Inavlid Password
Enter the password: g
Inavlid Password
Enter the password: k
Inavlid Password
Account Locked

In [4]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [5]:
lst[-3:-9:-1]

[8, 7, 6, 5, 4, 3]

In [6]:
lst[-3:-9]

[]

In [8]:
lst[2:6:-1]

[]

In [9]:
a = '12345\u0394'
a

'12345Δ'

In [10]:
a="Mayank Atul Ghai"
a.count('a',7,9)

0

In [19]:
a="Mayank Atul Ghai"
a.count('a',-4,-16,-1)

TypeError: count() takes at most 3 arguments (4 given)

In [5]:
var =  '''Learnbay provides
"Java", "Python" 
classes'''
print(var)
print(type(var))

Learnbay provides
"Java", "Python"
classes
<class 'str'>

In [5]:
my_str="Although that way may not be obvious at first unless you're Dutch."

for i in range (1,len(my_str)+1):
    print(f"{-i} ",my_str[-i])

-1  .
-2  h
-3  c
-4  t
-5  u
-6  D
-7
-8  e
-9  r
-10  '
-11  u
-12  o
-13  y
-14
-15  s
-16  s
-17  e
-18  l
-19  n
-20  u
-21
-22  t
-23  s
-24  r
-25  i
-26  f
-27
-28  t
-29  a
-30
-31  s
-32  u
-33  o
-34  i
-35  v
-36  b
-37  o
-38
-39  e
-40  b
-41
-42  t
-43  o
-44  n
-45
-46  y
-47  a
-48  m
-49
-50  y
-51  a
-52  w
-53
-54  t
-55  a
-56  h
-57  t
-58
-59  h
-60  g
-61  u
-62  o
-63  h
-64  t
-65  l
-66  A

In [6]:
my_str="Although that way may not be obvious at first unless you're Dutch."
# yaw ta
for i in range (0,len(my_str)):
    print(f"{i} ",my_str[i])

0  A
1  l
2  t
3  h
4  o
5  u
6  g
7  h
8
9  t
10  h
11  a
12  t
13
14  w
15  a
16  y
17
18  m
19  a
20  y
21
22  n
23  o
24  t
25
26  b
27  e
28
29  o
30  b
31  v
32  i
33  o
34  u
35  s
36
37  a
38  t
39
40  f
41  i
42  r
43  s
44  t
45
46  u
47  n
48  l
49  e
50  s
51  s
52
53  y
54  o
55  u
56  '
57  r
58  e
59
60  D
61  u
62  t
63  c
64  h
65  .

In [7]:
my_str="Although that way may not be obvious at first unless you're Dutch."
# yaw ta
my_str.count('w')

my_str[-46:0:-()]

1

In [1]:
lst = [1,1.0,True,1+0j]
lst.count(1+0j)

4

In [1]:
emp_detail = {('age',):[28,29]}

In [4]:
emp_detail[('age',)]

[28, 29]

In [8]:
d= ( (1,2) , (4,5) , (7,8))
emp = dict(d)
print(emp)

{1: 2, 4: 5, 7: 8}

In [9]:
io = {[1]:'str'}

TypeError: unhashable type: 'list'

In [2]:
def add(a,b,c=10):
    return a + b + c

In [4]:
add(1,2,b=12)

TypeError: add() got multiple values for argument 'b'

In [7]:
text = " Hello Everyone"

a = [i for i in text if (i in 'aeiouAEIOU' )]
a

['e', 'o', 'E', 'e', 'o', 'e']

In [26]:
def fact(n):
    if n==1:
        return 1
    else:
        return n* fact(n-1)
    
print(fact(3))

6

In [24]:
# Python program to illustrate functions 
# can be treated as objects 
def shout(text): 
	return text.upper() 

print(shout('Hello')) 

yell = shout 

print(yell('Hello'))

HELLO
HELLO

In [18]:
def outer():
    def inner():
        return 'Hello, I am an Inner function called inside an outer function'
    return inner()

In [19]:
a = outer()
print(a)

Hello, I am an Inner function called inside an outer function

In [22]:
# Python program to illustrate functions 
# Functions can return another function 

def create_adder(x): 
    print(f"im printing x here: {x}")
    def adder(y): 
        return x+y 

    return adder 

add_15 = create_adder(15) 

print(add_15(10))

im printing x here: 15
25